#greeting-container {
  background-color: rgb(114, 191, 249);
  border-radius: 2rem;
  padding: 25px;
}

.greeting-change {
  padding: 10px;
  font-size: 40px;
  text-align: end;
  color: rgb(255, 255, 255);
  
}